.container {
	background-color: black;
	padding: 8px 12px;
	display: flex !important;
	align-items: center;
	line-height: 1;
	justify-content: center;
	text-align: center;
}

.container p {
	color: white;
	font-size: inherit;
	font-weight: 500;
}

@media (max-width: 600px) {
	.container {
		padding: 15px 30px;
	}
}
