$bgColorPrimary: #e5f9ff;
$bgColorSecondary: #2f2f2f;
$availableColor: #15895f;
$indisponibleColor: #c73a3a;
$bgCircle: #a2d9e0;
$colorTitleDetail: #3ea6c7;

:export {
	bgColorPrimary: $bgColorPrimary;
	bgColorSecondary: $bgColorSecondary;
	availableColor: $availableColor;
	indisponibleColor: $indisponibleColor;
	bgCircle: $bgCircle;
	colorTitleDetail: $colorTitleDetail;
}
