.container {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 10px 0;
	padding: 12px 25px;
}

.container h2 {
	font-size: 20px;
	font-weight: 500;
}

.container > div {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.container > div > div {
	display: flex;
}

.container > div > div > div {
	margin-right: 50px;
}

@media (max-width: 600px) {
	.container {
		padding: 14px 20px;
	}
	.container > div > div {
		display: block;
	}
	.container > div > div > div {
		margin-right: 10px;
	}
	.container > div > div > div:first-child {
		margin-bottom: 10px;
	}
}
