.container {
	display: flex;
	align-items: center;
	background-color: #e5f9ff;
	padding: 10px;
	max-width: 100vw;
}
.mobile {
	display: none;
}
.left {
	display: flex;
	align-items: center;

	a {
		font-weight: 500;
		z-index: 2;
	}
}
.left > * {
	margin: 15px 40px;
}
.right {
	display: flex;
}
.right div {
	display: flex;
	align-items: center;
	margin: 0 25px;
}
.right div p {
	margin-left: 10px;
}

.logo {
	font-family: "Croissant One", cursive;
}

@media (min-width: 769px) and (max-width: 1024px) {
	.left > * {
		margin: 15px 10px;
	}
	.right div p {
		margin-left: 3px;
	}
	.right div {
		margin: 0 10px;
	}
}

@media (min-width: 769px) {
	.container {
		justify-content: space-between;
	}
}

@media (max-width: 768px) {
	.mobile {
		display: flex;
	}
	.desktop {
		display: none;
	}
}
