.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
}
.left > * {
  margin: 15px 40px;
}
.right {
  display: flex;
}
.right div {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
.right div p {
  margin-left: 10px;
}
