@import "../../styles/colors.module";
.container {
	padding: 30px 10px 20px 10px;
	background-color: $bgColorSecondary;
	color: white;
	cursor: pointer;
}

.container > div:first-child {
	display: flex;
	justify-content: space-evenly;
}

.container > div:last-child {
	text-align: center;
}

.container > div > div > div {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.container > div > div > h2 {
	font-size: 20px;
	font-weight: 600;
}

.container > div > div > a {
	display: flex;
	margin: 1em 0;
}

.container > div:last-child p {
	font-size: 15px;
	margin-top: 15px;
}

.logo {
	font-family: "Croissant One", cursive;
}

@media (max-width: 600px) {
	.container {
		padding: 40px 10px 20px 30px;
	}
	.container > div {
		display: block;
		flex-flow: column;
	}
	.container > div:first-child > div {
		margin-bottom: 50px;
	}
	.container > div:last-child p {
		text-align-last: center;
		margin-top: 50px;
	}
}
