@import "../../styles/colors.module";
.container {
	margin: 10px 0;
	background-color: $bgColorSecondary;
	color: white;
}

.container > div {
	display: flex;
	justify-content: space-around;
}

.container > div > div > div {
	display: flex;
	align-items: center;
}

.container > div > div > a {
	display: flex;
	margin: 1em 0;
}

.container > div > div > div p {
	margin-left: 10px;
}

.container > div:last-child p {
	font-size: 15px;
}

.logo {
	font-family: "Croissant One", cursive;
}

@media (max-width: 600px) {
	.container > div {
		display: block;
	}
	.container > div:last-child p {
		text-align-last: center;
	}
}
