.button {
	padding: 0 60px;
}
@media (min-width: 1024px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}
@media (max-width: 1024px) {
	.mobile {
		display: block;
		text-align: center;
	}
	.desktop {
		display: none;
	}
}
@media (max-width: 450px) {
	.button {
		padding: 0 10%;
	}
}
